@page
@model TradeCompanyApp.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Список заказов";
}

<h1>Список заказов</h1>

<p>
    <a asp-page="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderId">редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderId">посмотреть</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
